.pagination {
	display: flex;
	width: 100%;
	gap: 12px;
	align-items: center;
	justify-content: center;
}
.pageNumber {
	padding: 8px;
	border: none;
	background-color: white;
	cursor: pointer;
}
.list {
	display: flex;
	align-items: center;
	justify-content: center;
}
.arrow {
	border: none;
	background-color: white;
	cursor: pointer;
}
button.pageNumber:disabled {
	font-weight: bold;
	color: black;
	border-radius: 30px;
	background-color: rgb(220, 250, 250);
	cursor: default;
}
button:disabled {
	font-weight: bold;
	cursor: default;
}
.pagination.dark .pageNumber,
.pagination.dark .arrow {
	background-color: #23272f;
	color: #f6f7f9;
}
.pagination.light .pageNumber,
.pagination.light .arrow {
	background-color: white;
	color: black;
}
